{% extends 'login_base.html' %}


{% block title %}
<title>Login page</title>
{% endblock %}


{% block content %}
{% load i18n %}
<main>
    <div class="login-wrapper card">
        <h2>{% trans 'Reset password' %}</h2>
        <form method="post" class="class__form">
            {% csrf_token %}
            <div class="class__form__input-wrapper-100">
                <label for="password" class="text-gray">{% trans 'Create new password' %}</label>
                <div class="class__form__input-wrapper-input">
                    <input value="{{ password }}" required type="password" name="password" id="password" class="default-input text-default" placeholder="{% trans 'Create password' %}">
                    <button type="button" onclick="view_password(this)" class="class__form__input-eye">
                        <img src="/media/eye.svg" alt="" class="class__form__input-eye">
                    </button>
                </div>
            </div>
            <div class="class__form__input-wrapper-100">
                <label for="repeat_password" class="text-gray">{% trans 'Repeat password' %}</label>
                <div class="class__form__input-wrapper-input">
                    <input value="{{ repeat_password }}" required type="password" name="repeat_password" id="repeat_password" class="default-input text-default" placeholder="{% trans 'Repeat password' %}">
                    <button type="button" onclick="view_password(this)" class="class__form__input-eye">
                        <img src="/media/eye.svg" alt="" class="class__form__input-eye">
                    </button>
                </div>
            </div>
            <p class="text-danger">{{ error }}</p>
            <button type="submit" class="banner__right__btn text-default-white">{% trans 'Reset password' %}</button>
        </form>
    </div>
</main>
<script>
    function view_password(btn) {
        let img = btn.children[0]
        let input = btn.previousElementSibling
        if (img.src.split('/media/')[1] == 'eye.svg') {
            img.src = '/media/eye-slash.svg'
            input.type = 'text'
        } else {
            img.src = '/media/eye.svg'
            input.type = 'password'
        }
    }
</script>
<script>
    function open_menu() {
        document.querySelector('.mobile-menu-wrapper').hidden = false;
    }
    document.querySelector('.mobile-menu-wrapper').addEventListener('click', function() {
        document.querySelector('.mobile-menu-wrapper').hidden = true;
    })
</script>
{% endblock %}