{% extends 'base.html' %}


{% block title %}
<title>Checkout page</title>
{% endblock %}


{% block content %}
{% load i18n %}
<main>
    <form method="post">
        {% csrf_token %}
        <div class="checkout container">
            <div class="checkout__left card">
                <h2>{% trans 'Contact' %}</h2>
                <div class="checkout__left__form">
                    <div class="class__form__input-wrapper">
                        <label for="first_name" class="text-gray">{% trans 'First name' %}</label>
                        <input required type="text" name="first_name" id="first_name" class="default-input text-default"
                               placeholder="{% trans 'Type here' %}">
                    </div>
                    <div class="class__form__input-wrapper">
                        <label for="last_name" class="text-gray">{% trans 'Last name' %}</label>
                        <input required type="text" name="last_name" id="last_name" class="default-input text-default"
                               placeholder="{% trans 'Type here' %}">
                    </div>
                    <div class="class__form__input-wrapper">
                        <label for="phone" class="text-gray">{% trans 'Phone' %}</label>
                        <input value="+998" required type="text" name="phone" id="phone"
                               class="default-input text-default" placeholder="Type here">
                    </div>
                    <div class="class__form__input-wrapper">
                        <label for="email" class="text-gray">{% trans 'Email' %}</label>
                        <input required type="email" name="email" id="email" class="default-input text-default"
                               placeholder="{% trans 'Type here' %}">
                    </div>
                </div>
                <h2>{% trans 'Receipt' %}</h2>
                <div class="checkout__left__form2">
                    <div class="class__form__input-wrapper-25">
                        <label for="city" class="text-gray">{% trans 'City' %}</label>
                        <select name="city" id="city" onchange="selectCity()" class="default-input text-default">
                            <option value="Select your city">{% trans 'Select your city' %}</option>
                            {% for i in city %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="class__form__input-wrapper-25">
                        <label for="pick_up" class="text-gray">{% trans 'Pick-up point' %}</label>
                        <select name="pick_up" id="pick_up" class="default-input text-default">
                            <option value="Select pick up">{% trans 'Select pick up' %}</option>
                        </select>
                    </div>
                </div>
                <h2 class="checkout_payment_text">{% trans 'Payment' %}</h2>
                <div class="checkout__left__expresses">
                    <label onclick="select_express(this)" for="click" class="checkout__left__express-active card">
                        <input id="click" name="click" type="radio" checked>
                        <p class="text-default">{% trans 'Click' %}</p>
                    </label>
                    <label onclick="select_express(this)" for="payme" class="checkout__left__express card">
                        <input id="payme" name="payment" type="radio">
                        <p class="text-default">{% trans 'Payme' %}</p>
                    </label>
                </div>
                <div class="checkout__left__btns">
                    <div class="cart__left__product__left__content__btns">
                        <button class="cart__left__product__left__content__btn-red text-default">{% trans 'Cancel' %}</button>
                        <button type="submit" class="banner__right__btn text-default-white">{% trans 'Place order' %}</button>
                    </div>
                </div>
            </div>
            <div class="checkout__right">
                <h2>{% trans 'Summary' %}</h2>
                <div class="checkout__right__content">
                    <p class="text-gray checkout__right__content-item">{% trans 'Subtotal' %}:<span class="text-default"
                                                                                      id="price_subtotal">${{ total }}</span>
                    </p>
                    {% if discount %}
                    <p class="text-gray checkout__right__content-item">{% trans 'Discount' %}:<span
                            class="text-default" id="discount">- ${{ discount }}</span></p>
                    {% endif %}
                    <p class="text-gray checkout__right__content-item">{% trans 'Shipping' %}:<span class="text-default"
                                                                                      id="price_shipping">+ ${{ shipping }}</span>
                    </p>
                </div>
                <hr>
                <p class="text-gray checkout__right__content-item">{% trans 'Total' %}:<span class="text-default" id="price_total"></span>
                </p>
                <hr>
                <p class="text-gray">{% trans 'Items in cart' %}</p>
                <div class="checkout__right__products">
                    {% for order, photo, total_price in orders %}
                    <a href="{% url 'product' order.product.id %}" class="checkout__right__product">
                        <div class="checkout__right__product__img card">
                            <img src="{{ photo }}" alt="">
                        </div>
                        <p><span class="text-default">{{ order.quantity }}</span>x <span class="text-default-primary">{{ order.product.name }}</span><br>
                            <span class="text-default text-muted">{% trans 'Total' %}: ${{ total_price }}</span></p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</main>
<script>
    function change_total() {
        let total = document.querySelector('#price_total');
        let price = parseFloat(document.querySelector('#price_subtotal').textContent.replace('$', ''));
        let discount = parseFloat(document.querySelector('#discount').textContent.replace('- $', ''));
        let price_shipping = parseFloat(document.querySelector('#price_shipping').textContent.replace('+ $', ''));
        if (discount) {
            total.textContent = (price - discount + price_shipping).toFixed(1);
        } else {
            total.textContent = (price + price_shipping).toFixed(1);
        }

    }

    change_total()
    function select_express(btn) {
        let active = document.querySelector('.checkout__left__express-active')
        active.classList.remove('checkout__left__express-active')
        active.classList.add('checkout__left__express')
        active.children[0].checked = false
        btn.classList.remove('checkout__left__express')
        btn.classList.add('checkout__left__express-active')
        btn.children[0].checked = true
    }

    function select_pick_up(response) {

    }

    function selectCity() {
        let selectedCity = document.querySelector('#city').value;
        let selector = document.querySelector('#pick_up')

        $.ajax({
            type: 'GET',
            url: '/checkout/',
            data: {
                'city': selectedCity
            },
            success: function(response) {
                const parsedData = JSON.parse(response);
                const selectElement = document.getElementById('pick_up');

                selectElement.innerHTML = '';

                parsedData.forEach(item => {
                  const option = document.createElement('option');

                  option.value = item.fields.name;
                  option.text = item.fields.name;

                  selectElement.add(option);
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('AJAX Error:', textStatus, errorThrown);
            }
        });
    }



</script>
<script>
    function open_menu() {
        document.querySelector('.mobile-menu-wrapper').hidden = false;
    }
    document.querySelector('.mobile-menu-wrapper').addEventListener('click', function() {
        document.querySelector('.mobile-menu-wrapper').hidden = true;
    })





</script>
{% endblock %}