{% extends 'login_base.html' %}


{% block title %}
<title>Login page</title>
{% endblock %}


{% block content %}
<main>
    <div class="login-wrapper card">
        <h2>{% trans 'Reset password' %}</h2>
        <form method="post" class="class__form">
            {% csrf_token %}
            <div class="class__form__input-wrapper-100">
                <label for="email" class="text-gray">{% trans 'Email' %}</label>
                <input value="{{ email }}" required type="email" name="email" id="email" class="default-input text-default" placeholder="{% trans 'Type email' %}">
            </div>
            <p class="text-danger">{{ error }}</p>
            <button type="submit" class="banner__right__btn text-default-white">{% trans 'Send code' %}</button>
        </form>
    </div>
</main>
<script>
    function view_password(btn) {
        let img = btn.children[0]
        let input = btn.previousElementSibling
        if (img.src.split('/media/')[1] == 'eye.svg') {
            img.src = '/media/eye-slash.svg'
            input.type = 'text'
        } else {
            img.src = '/media/eye.svg'
            input.type = 'password'
        }
    }
</script>
<script>
    function open_menu() {
        document.querySelector('.mobile-menu-wrapper').hidden = false;
    }
    document.querySelector('.mobile-menu-wrapper').addEventListener('click', function() {
        document.querySelector('.mobile-menu-wrapper').hidden = true;
    })
</script>
{% endblock %}