{% extends 'login_base.html' %}


{% block title %}
<title>Login page</title>
{% endblock %}


{% block content %}
{% load i18n %}
<main>
    <div class="login-wrapper card">
        <h2>{% trans 'Sign in' %}</h2>
        <form method="post" class="class__form">
            {% csrf_token %}
            <div class="class__form__input-wrapper-100">
                <label for="username" class="text-gray">{% trans 'Username' %}</label>
                <input value="{{ username }}" required type="text" name="username" id="username" class="default-input text-default" placeholder="{% trans 'Type username' %}">
            </div>
            <div class="class__form__input-wrapper-100">
                <label for="password" class="text-gray">{% trans 'Password' %}</label>
                <div class="class__form__input-wrapper-input">
                    <input value="{{ password }}" required type="password" name="password" id="password" class="default-input text-default" placeholder="{% trans 'Type your password' %}">
                    <button type="button" onclick="view_password(this)" class="class__form__input-eye">
                        <img src="/media/eye.svg" alt="" class="class__form__input-eye">
                    </button>
                </div>
                <p class="text-default login__bottom-text" style="margin: 0; text-align: end;">{% trans 'Forgot password?' %} <a href="{% url 'forgot_password' %}" class="text-default-primary">{% trans 'Reset' %}</a></p>
            </div>
            <p class="text-danger">{{ error }}</p>
            <button type="submit" class="banner__right__btn text-default-white">{% trans 'Sign in' %}</button>
        </form>
        <p class="text-default login__bottom-text">{% trans 'Dont have an account?' %} <a href="{% url 'register' %}" class="text-default-primary">{% trans 'Sign up' %}</a></p>
    </div>
</main>
<script>
    function view_password(btn) {
        let img = btn.children[0]
        let input = btn.previousElementSibling
        if (img.src.split('/media/')[1] == 'eye.svg') {
            img.src = '/media/eye-slash.svg'
            input.type = 'text'
        } else {
            img.src = '/media/eye.svg'
            input.type = 'password'
        }
    }
</script>
<script>
    function open_menu() {
        document.querySelector('.mobile-menu-wrapper').hidden = false;
    }
    document.querySelector('.mobile-menu-wrapper').addEventListener('click', function() {
        document.querySelector('.mobile-menu-wrapper').hidden = true;
    })
</script>
{% endblock %}