{% extends 'base.html' %}


{% block title %}
<title>Product page</title>
{% endblock %}


{% block content %}
{% load i18n %}
<div id="overlay" style="display: none;"></div>
<div class="write__wrapper card" id="write_review_content" style="display: none;">
    <h1>{% trans 'Write review' %}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea required style="width: 100%;" name="text" cols="30" rows="4" class="default-textarea text-default" placeholder="{% trans 'Write your review' %}"></textarea>
        <div class="write__wrapper__stars">
            <button class="write__wrapper__star" onclick="star_clicked(this)" type="button"><img src="/media/star.png" alt=""></button>
            <button class="write__wrapper__star" onclick="star_clicked(this)" type="button"><img src="/media/star.png" alt=""></button>
            <button class="write__wrapper__star" onclick="star_clicked(this)" type="button"><img src="/media/star.png" alt=""></button>
            <button class="write__wrapper__star" onclick="star_clicked(this)" type="button"><img src="/media/star.png" alt=""></button>
            <button class="write__wrapper__star" onclick="star_clicked(this)" type="button"><img src="/media/star.png" alt=""></button>
            <input value="5" type="number" name="stars" id="stars" hidden>
        </div>
        <input type="file" multiple name="images" id="images" class="default-input text-default" placeholder="{% trans 'Your images' %}">
        <button type="submit" class="banner__right__btn text-default-white">{% trans 'Add review' %}</button>
    </form>
</div>
<div class="write__wrapper card" id="add_discount_content" style="display: none;">
    <h1>{% trans 'Add discount' %}</h1>
    <form action="{% url 'add_discount' product.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input required name="discount" type="number" class="default-input text-default" placeholder="{% trans 'Percent of sale' %}">
        <input required type="date" multiple name="date" class="default-input text-default" placeholder="{% trans 'Date of ending sale' %}">
        <button type="submit" class="banner__right__btn text-default-white">{% trans 'Add discount' %}</button>
    </form>
</div>
<main>
    <div class="product card container">
        <div class="product__left">
            <div class="product__left__main-photo card">
                <div class="image-container2">
                    <img id="main_photo" src="{{ photo.0 }}" alt="" class="recommended__card__photo">
                    <div class="overlay"></div>
                    <div class="eye2" style='background: url("/media/eye.png") no-repeat center center / cover;'></div>
                </div>
            </div>
            <div class="product__left__bottom-photos">
                <button onclick="change_photo(this)" class="product__left__bottom-photo bottom-photos-active">
                    <img src="{{ photo.0 }}" alt="">
                </button>
                {% for p in photo|slice:"1:" %}
                <button onclick="change_photo(this)" class="product__left__bottom-photo bottom-photos">
                    <img src="{{ p }}" alt="">
                </button>
                {% endfor %}
                {% if request.user == product.supplier.user %}
                <form action="{% url 'add_product_photos' product.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button id="add_product_btn" style="width: 56px; height: 56px;" type="button" class="shop__product__top__right-active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-exposure" viewBox="0 0 16 16">
                            <path d="M8.5 4a.5.5 0 0 0-1 0v2h-2a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0V7h2a.5.5 0 0 0 0-1h-2zm-3 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"/>
                        </svg>
                    </button>
                    <button type="submit" hidden></button>
                    <input type="file" name="product_photos" hidden multiple>
                </form>
                {% endif %}
            </div>
        </div>
        <form action="{% url 'change_product_data' product.id %}" method="post" class="product__middle">
            {% csrf_token %}
            <button type="submit" hidden id="submit"></button>
            <div class="product__middle__top">
                <div class="product__middle__top-price-wrapper" style="display: flex; width: 90%; align-items: center;">
                    <span></span>
                    <p class="product__middle__top-price"><b>{{ product.name }}</b></p>
                    {% if request.user == product.supplier.user %}
                    <input value="{{ product.name }}" type="text" name="name" id="price_input" class="card text-default" hidden>
                    <svg style="margin-left: 10px;" id="edit_email" onclick="change_data(this)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <svg style="display: none; margin-left: 10px;" id="save_email" onclick="change_data(this)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                    </svg>
                    {% endif %}
                </div>
                <div class="shop__products__right__middle__bottom">
                    <div class="shop__product__top__left__stars">
                        {% for s in range %}
                        {% if s <= product.stars %}
                        <img src="/media/star.png" alt="">
                        {% else %}
                        <img src="/media/star2.png" alt="">
                        {% endif %}
                        {% endfor %}
                        <p class="text-default-18">{{ product.stars }}</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#DEE2E7"></circle>
                    </svg>
                    <p class="product__middle__top-orders text-gray">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M3.33317 3.33329H16.6665V13.3333H4.30817L3.33317 14.3083V3.33329ZM3.33317 1.66663C2.4165 1.66663 1.67484 2.41663 1.67484 3.33329L1.6665 18.3333L4.99984 15H16.6665C17.5832 15 18.3332 14.25 18.3332 13.3333V3.33329C18.3332 2.41663 17.5832 1.66663 16.6665 1.66663H3.33317ZM4.99984 9.99996H14.9998V11.6666H4.99984V9.99996ZM4.99984 7.49996H14.9998V9.16663H4.99984V7.49996ZM4.99984 4.99996H14.9998V6.66663H4.99984V4.99996Z" fill="#8B96A5"/>
                        </svg>
                        {{ reviews|length }} {% trans 'reviews' %}
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <circle cx="3" cy="3" r="3" fill="#DEE2E7"></circle>
                    </svg>
                    <p class="text-gray">154 {% trans 'orders' %}</p>
                </div>
            </div>
            <div class="product__middle__bottom">
                <div class="product__middle__bottom-price">
                    <p class="text-default-18 text-muted" id="price">{% trans 'Price' %}:</p>
                    {% if sale %}
                    <p class="text-default-18 shop__products__right__middle-price" style="font-size: 20px;"><b>${{ sale }}</b><span class="text-gray">${{ product.price }}</span></p>
                    {% else %}
                    <p class="text-default-18 shop__products__right__middle-price" style="font-size: 20px;"><b>${{ product.price }}</b></p>
                    {% endif %}
                    {% if request.user == product.supplier.user %}
                    <input value="{{ product.price }}" type="number" name="price" id="price_input" class="card text-default" hidden>
                    <svg style="margin-left: 10px;" id="edit_email" onclick="change_data(this)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <svg style="display: none; margin-left: 10px;" id="save_email" onclick="change_data(this)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                    </svg>
                    {% endif %}
                </div>
                <div class="product__middle__bottom-price">
                    <p class="text-default-18 text-muted">{% trans 'Category' %}:</p>
                    <p class="text-default-18 text-gray" style="font-size: 18px;">{{ product.main_category }}</p>
                </div>
                <div class="product__middle__bottom-price">
                    <p class="text-default-18 text-muted">{% trans 'Brand' %}:</p>
                    <p class="text-default-18 text-gray" style="font-size: 18px;"><b>{{ product.brand }}</b></p>
                    {% if request.user == product.supplier.user %}
                    <input value="{{ product.brand }}" type="text" name="brand" class="card text-default" hidden>
                    <svg style="margin-left: 10px;" id="edit_email" onclick="change_data(this)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <svg style="display: none; margin-left: 10px;" id="save_email" onclick="change_data(this)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                    </svg>
                    {% endif %}
                </div>
                <div class="product__middle__bottom-price">
                    <p class="text-default-18 text-muted">{% trans 'State' %}:</p>
                    <p class="text-default-18 text-gray" style="font-size: 18px;">{{ product.state }}</p>
                </div>
                <div class="product__middle__bottom-price">
                    <p class="text-default-18 text-muted">{% trans 'Created' %}:</p>
                    <p class="text-default-18 text-gray" style="font-size: 18px;">{{ product.create_at }}</p>
                </div>
                <div class="product__middle__bottom-other">
                    <p class="text-default-18 text-gray product__middle__bottom-other-text">{% trans 'Other' %}:</p>
                    {% for c in categories %}
                    <div class="product__middle__bottom-other-item">
                        <p class="text-default-18 text-muted">{{ c.category }}:</p>
                        <p class="text-default-18 text-gray" style="font-size: 18px;">{{ c.name }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
        <div class="product__right">
            <div class="product__right__top card">
                <div class="product__right__top__top">
                    <img src="/media/{{ product.supplier.photo }}" alt="">
                    <p class="text-default-18">{% trans 'Supplier' %}<br>{{ product.supplier.user.username }}</p>
                </div>
                <div class="product__right__top__bottom">
                    {% if request.user != product.supplier.user %}
                    <a href="{% url 'add_to_cart' product.slug %}" class="banner__right__btn text-default-white">{% trans 'Add to cart' %}</a>
                    <a href="{% url 'seller_profile' product.supplier.user.username %}" class="banner__right__btn text-default-white">{% trans "Seller's profile" %}</a>
                    {% else %}
                    <a href="{% url 'delete_product' product.id %}" class="banner__right__btn text-default-white">{% trans 'Delete product' %}</a>
                    {% if sale %}
                    <a href="{% url 'delete_product_sale' product.id %}" class="banner__right__btn text-default-white">{% trans 'Delete' %} {% trans 'discount' %}</a>
                    {% else %}
                    <button id="add_discount" class="banner__right__btn text-default-white">{% trans 'Add discount' %}</button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'save_product' product.id %}" class="text-default-primary product__right-save">
                <button class="shop__product__top__right{% if saved %}-active{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M16.5 2.82495C14.76 2.82495 13.09 3.63495 12 4.91495C10.91 3.63495 9.24 2.82495 7.5 2.82495C4.42 2.82495 2 5.24495 2 8.32495C2 12.105 5.4 15.185 10.55 19.865L12 21.175L13.45 19.855C18.6 15.185 22 12.105 22 8.32495C22 5.24495 19.58 2.82495 16.5 2.82495ZM12.1 18.375L12 18.475L11.9 18.375C7.14 14.065 4 11.215 4 8.32495C4 6.32495 5.5 4.82495 7.5 4.82495C9.04 4.82495 10.54 5.81495 11.07 7.18495H12.94C13.46 5.81495 14.96 4.82495 16.5 4.82495C18.5 4.82495 20 6.32495 20 8.32495C20 11.215 16.86 14.065 12.1 18.375Z" fill="#0D6EFD"/>
                    </svg>
                </button>
                {% trans 'Save for later' %}
            </a>
            {% endif %}
        </div>
    </div>
    <div class="product__bottom container">
        <div class="product__bottom__left card">
            <div class="product__bottom__tabs">
                <button onclick="change_content(this, 1)" class="product__bottom__tab product__bottom__tab-active">{% trans 'Description' %}</button>
                <button onclick="change_content(this, 2)" class="product__bottom__tab">{% trans 'Reviews' %}</button>
                <div class="product__bottom__tabs-indicator"></div>
            </div>
            <div class="product__bottom__content-wrapper">
                <div class="product__bottom__content" id="content_1">
                    <p class="text-gray-18">{{ markdown_to_html | safe }}</p>
                </div>
                <div class="product__bottom__content" id="content_2" hidden>
                    <div class="product__bottom__reviews" style="position: relative; padding-top: 60px;">
                        <button id="write_review" class="banner__right__btn text-default-white">{% trans 'Write review' %}</button>
                        {% for review in reviews %}
                        <div class="product__bottom__review card">
                            {% if review.images %}
                            <p class="text-default">{% trans 'Photos' %}:</p>
                            <div class="product__bottom__review__photos">
                                {% for p in review.images %}
                                <div class="image-container5">
                                    <img id="main_photo" src="{{ p.image.url }}" alt="" class="recommended__card__photo">
                                    <div class="overlay"></div>
                                    <div class="eye3" style='background: url("/media/eye.png") no-repeat center center / cover;'></div>
                                </div>
                                {% endfor %}
                            </div>
                            <span class="product__bottom__review-devider"></span>
                            {% endif %}
                            <div class="product__bottom__review__user">
                                <img src="/media/{{ review.review.user.photo }}" class="product__bottom__review__logo" alt="">
                                <div class="product__bottom__review__user-content">
                                    <p class="text-default">{{ review.review.user }}</p>
                                    <div class="shop__product__top__left__stars">
                                        {% for s in range %}
                                        {% if s < review.review.stars %}
                                        <img src="/media/star.png" alt="">
                                        {% else %}
                                        <img src="/media/star2.png" alt="">
                                        {% endif %}
                                        {% endfor %}
                                        <p class="text-default">{{ review.review.stars }}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="text-gray">{{ review.review.text }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if not product in you_may_like_products %}
        <div class="product__bottom__right card">
            <p class="text-default2"><b>{% trans 'You may like' %}</b></p>
            {% for item in you_may_like_products %}
            <a href="" class="product__bottom__right__product">
                <div class="product__bottom__right__product__image card">
                    <img src="/media/products/product_1.png" alt="">
                </div>
                <div class="product__bottom__right__product__text">
                    <p class="text-default">{{ item.name }}</p>
                    <p class="text-default text-muted">${{ item.price }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
<script>
    let btn = document.querySelector('#write_review')
    let overlay = document.querySelector('#overlay')
    let content = document.querySelector('#write_review_content')
    btn.addEventListener('click', function () {
        overlay.style.display = 'flex'
        content.style.display = 'flex'
    })
    overlay.addEventListener('click', function () {
        overlay.style.display = 'none'
        content.style.display = 'none'
    })
</script>
<script>
    let discount_btn = document.querySelector('#add_discount')
    let discount_overlay = document.querySelector('#overlay')
    let discount_content = document.querySelector('#add_discount_content')
    discount_btn.addEventListener('click', function () {
        discount_overlay.style.display = 'flex'
        discount_content.style.display = 'flex'
    })
    discount_overlay.addEventListener('click', function () {
        discount_overlay.style.display = 'none'
        discount_content.style.display = 'none'
    })
</script>
<script>
    const indicator = document.querySelector('.product__bottom__tabs-indicator');
    function change_content(btn, id) {
        document.querySelector('.product__bottom__tab-active').classList.remove('product__bottom__tab-active')
        btn.classList.add('product__bottom__tab-active')
        const tab = btn
        const offsetLeft = tab.offsetLeft - 8;
        const width = tab.clientWidth;
        indicator.style.transform = `translateX(${offsetLeft}px)`;
        indicator.style.width = `${width}px`;

        document.querySelectorAll('.product__bottom__content').forEach(function (i) {
            i.hidden = true;
        })
        document.querySelector(`#content_${id}`).hidden = false
    }
</script>
<script>
    images = document.querySelectorAll('.image-container5')
    images.forEach(function (i) {
        i.addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('zoom-modal').style.display = 'block';
            let src
            if (event.target.classList[0] == 'eye3') {
                src = event.target.previousElementSibling.previousElementSibling
            } else {
                src = event.target.previousElementSibling
            }
            document.getElementById('zoom-modal').children[0].src = src.src
        });
    })
    document.getElementById('zoom-modal').addEventListener('click', function () {
        document.getElementById('zoom-modal').style.display = 'none';
    })
</script>
<script>
    document.querySelector('.image-container2').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('zoom-modal').style.display = 'block';
        let src
        if (event.target.classList[0] == 'eye2') {
            src = event.target.previousElementSibling.previousElementSibling
        } else {
            src = event.target.previousElementSibling
        }
        document.getElementById('zoom-modal').children[0].src = src.src
    });
    document.getElementById('zoom-modal').addEventListener('click', function () {
        document.getElementById('zoom-modal').style.display = 'none';
    })
</script>
<script>
    function change_photo(btn) {
        document.querySelector('.bottom-photos-active').classList.remove('bottom-photos-active');
        btn.classList.add('bottom-photos-active');
        document.querySelector('#main_photo').src = btn.children[0].src
    }
</script>
<script>
    function open_menu() {
        document.querySelector('.mobile-menu-wrapper').hidden = false;
    }
    document.querySelector('.mobile-menu-wrapper').addEventListener('click', function() {
        document.querySelector('.mobile-menu-wrapper').hidden = true;
    })
</script>
<script>
    let stars = document.querySelectorAll('.write__wrapper__star')
    let stars_input = document.querySelector('#stars')
    function star_clicked(btn) {
        stars.forEach(function(star) {
            star.children[0].src = '/media/star2.png'
        })
        btn.children[0].src = '/media/star.png'
        stars_input.value = 1
        for(let i = 0; i < stars.length; i++) {
            if (stars[i] != btn) {
                stars[i].children[0].src = '/media/star.png'
                stars_input.value = parseInt(stars_input.value) + 1
            } else {
                break
            }
        }
    }
</script>
<script>
    let submit = document.querySelector('#submit')
    function change_data(btn) {
        let wrapper = btn.parentElement
        let input = wrapper.children[2]
        let text = wrapper.children[1]
        let edit_svg = wrapper.children[3]
        let save_svg = wrapper.children[4]
        let price
        if (input.hidden) {
            input.hidden = false
            if (text.children[1]) {
                price = text.children[1].textContent
            } else {
                price = text.children[0].textContent
            }
            if (text.children[0].textContent[0] != "$") {
                input.value = price
            } else {
                input.value = price.slice(1)
            }
            text.style.display = 'none'
            edit_svg.style.display = 'none'
            save_svg.style.display = 'block'
        } else {
            input.hidden = true
            text.style.display = 'flex'
            edit_svg.style.display = 'block'
            save_svg.style.display = 'none'
            submit.click()
        }
    }
</script>
<script>
    let add_product_btn = document.querySelector('#add_product_btn')
    let add_product_submit = add_product_btn.nextElementSibling
    let add_product_input = add_product_submit.nextElementSibling
    add_product_btn.addEventListener('click', function() {
        add_product_input.click()
    })
    add_product_input.addEventListener('change', function() {
        add_product_submit.click()
    })
</script>
{% endblock %}