{% extends 'login_base.html' %}


{% block title %}
<title>Register page</title>
{% endblock %}


{% block content %}
<main>
    <div class="login-wrapper card">
        <h2>Sign up</h2>
        <form action="" class="class__form">
            <div class="class__form__input-wrapper-100">
                <label for="username" class="text-gray">Username</label>
                <input required type="text" name="username" id="username" class="default-input text-default" placeholder="Type username">
            </div>
            <div class="class__form__input-wrapper-100">
                <label for="email" class="text-gray">Email</label>
                <input required type="email" name="email" id="email" class="default-input text-default" placeholder="Type email">
            </div>
            <div class="class__form__input-wrapper-100">
                <label for="password" class="text-gray">Create password</label>
                <input required type="text" name="password" id="password" class="default-input text-default" placeholder="Create password">
            </div>
            <div class="class__form__input-wrapper-100">
                <label for="repeat_password" class="text-gray">Repeat password</label>
                <input required type="text" name="repeat_password" id="repeat_password" class="default-input text-default" placeholder="Repeat password">
            </div>
            <button type="submit" class="banner__right__btn text-default-white">Sign up</button>
            <div class="login__terms">
                <input type="checkbox" name="terms" id="terms">
                <label for="terms" class="text-gray">I agree with Terms and Conditions</label>
            </div>
        </form>
        <p class="text-default login__bottom-text">Alreade have account? <a href="{% url 'login' %}" class="text-default-primary">Sign in</a></p>
    </div>
</main>
<script>
    function open_menu() {
        document.querySelector('.mobile-menu-wrapper').hidden = false;
    }
    document.querySelector('.mobile-menu-wrapper').addEventListener('click', function() {
        document.querySelector('.mobile-menu-wrapper').hidden = true;
    })
</script>
{% endblock %}